:root {
    --primary-background-color: black;
    --primary-color: white;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

.main-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.main-sub-container {
    width: 60vw;
}

.btn-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.laps-container {
    margin-top: 10px;
    border: solid 1px lightgray;
    min-width: 200px;
    min-height: 60vh;
    position: relative;
}

#display {
    width: 100%;
}

#playBtn {
    width: 100px;
    height: 30px;
}

#laps {
    max-height: 60vh;
    overflow: scroll;
    margin-left: -40px;
    list-style: none;
}

#laps li {
    margin-bottom: 5px;
}

#clearLaps {
    margin-top: 20px;
}

#modeImg {
    width: 15px;
}

.study {
    color: darkturquoise;
}

.indicator {
    font-size: 3rem;
    font-weight: bolder;
    position: absolute;
    top: -32px;
    right: 3px;
}

.score-container {
    position: absolute;
    right: 25px;
    top: 25px;
}

#pointsFace {
    vertical-align: -1px;
}

@media screen and (max-width: 568px) {
    .main-container {
        margin-top: 2rem !important;
    }

    .main-sub-container {
        width: 80vw;
    }
}